/**
 * Layout
 */

body {
 margin:0; 
 padding:0; 
 text-align:center; 
 overflow: -moz-scrollbars-vertical;
} 
 
.page { 
 font-size: 14px;
} 
 
.header {
 background: #EEEEEE;
 position:relative; 
 height:150px; 
 width:100%;
 overflow:hidden;
} 

.layout-wrapper {
 width:980px; 
 text-align:left;  
 margin-left:auto; 
 margin-right:auto;
}

/**
 * 3 Cols
 */

#threecol-layout {
 background: #FFFFFF;
}

#threecol-layout .leftcol {
 width:33%; 
 float:left; 
 position:relative; 
 overflow: hidden;
 }
 
#threecol-layout .twocols {
 width:67%; 
 float:right; 
 position:relative; 
  }
 
#threecol-layout .rightcol {
 width:50%; 
 float:right; 
 position:relative; 
 overflow: hidden;
 }
 
#threecol-layout .maincol {
 float: left; 
 position: relative; 
 width:50%; 
 overflow: hidden;
 }

/**
 * In case only sidebar-first is visible
 */

.sidebar-first #threecol-layout .maincol {
 width:100%; 
}

/**
 * In case only sidebar-second is visible
 */

.sidebar-second #threecol-layout .twocols {
 width:100%;
}

.sidebar-second #threecol-layout .maincol {
 width:67%;
}

.sidebar-second #threecol-layout .rightcol {
 width:33%;
}


/**
 * Top regions
 */

#top-region-left {
 float: left;
 position: relative;
 width: 320px;
 height: 150px;
}
 
#top-region-right {
 float: left;
 position: relative;
 padding-top: 30px;
 text-align: right;
 width: 660px;
}

.secondary {
 margin-bottom: 20px;
}

.header-region {
 margin: 0;
 padding: 0;
}

/**
 * Logo
 */

.logo {
 height: 70px;
 padding-left: 10px;
 padding-right: 10px;
 color: #FFFFFF;
 font-size: 24px;
 text-align: center;
}

/**
 * Slogan
 */

.slogan {
 margin-top: 20px;
 padding-left: 10px;
 padding-right: 10px;
 text-align: center;
 text-shadow: 1px 0px 0px #FFFFFF;
 font-size: 22px;
}

/**
 * Navigation
 */

.navigation {
 background: #EEEEEE;
 clear: both;
 border-bottom: 2px solid #aaa;
}

.sitetitle-layout {
 background: #FFFFFF;
 border-bottom: 1px solid #AAAAAA;

}


/**
 * Featured
 */
 
#featured-layout {
 height:150px; 
 background-color:#EEEEEE; 
 border-bottom: 1px solid #CCCCCC;
 clear:both;
 display:block;
 overflow:hidden;
}  

/**
 * Before footer
 */
 
#before-footer-layout {
 background-color:#a0d80a; 
 clear:both;
 display:block;
 overflow:hidden;
 min-height: 150px;
 border-top: 1px solid #DDDDDD;
}

/**
 * Footer
 */
 
#footer-layout {
 background-color:#222222; 
 clear:both;
 display:block;
 overflow:hidden;
 color: #FFFFFF;
}  

/**
 * After-footer
 */
 
#after-footer-layout {
 background-color:#000000; 
 clear:both;
 display:block;
 overflow:hidden;
 padding: 10px;
 color: #FFFFFF;
}  
 
/**
 * Clearfix
 */

.dtw-clearfix:after {
 content: "."; 
 display: block; 
height: 0; 
 clear: both; 
 visibility: hidden;
 }
 
.dtw-clearfix{display: inline-block;}

/* Hides from IE-mac \*/
* html .dtw-clearfix{height: 1%;}
.dtw-clearfix{display: block;}
/* End hide from IE-mac */  
