/**
 * Printer styles
 */

.leftcol{display:none;}  /*hide the left column when printing*/ 
.rightcol{display:none;} /*hide the right column when printing*/ 
.twocols, .maincol{width:100%; float:none;}

