/* ----------------- Fonts ----------------- */

.page {
 font-family: Verdana, Geneva, sans-serif;
 font-size: 0.90em;
}

/* ----------------- Links ----------------- */

a#logo {
 margin: 0;
 padding: 0;
}

.navigation a {
 text-decoration: none;
 color: #fff;
}

.navigation a.active {
 color: #fff;
}

a {
 text-decoration: none;
 color: #1b98f8;
 font-weight: bold;
}



a:hover {
 text-decoration: none;
 color: #000000;
}


#after-footer-layout a:hover {
 color: #FFFFFF;
}

/* --------------- Main Menu ------------ */

#main-menu {
  clear: both;
}
#main-menu-links a {
  color: #d9d9d9;
  padding: 0.6em 1em 0.4em;
  font-size: 140%;
}
#main-menu-links {
  font-size: 0.929em;
  margin: 0;
  padding: 0 15px;
}
#main-menu-links li {
  float: left; /* LTR */
  list-style: none;
  padding: 0 1px;
  margin: 0 1px;
  margin-bottom: -2px; /* paul */
}
#main-menu-links a {
  color: #333;
  background: #f1f1f1;
  float: left; /* LTR */
  height: 2.9em;
  line-height: 2.9em;
  padding: 0 0.8em;
  text-decoration: none;
  text-shadow: 0 1px #eee;
  -khtml-border-radius-topleft: 8px;
  -khtml-border-radius-topright: 8px;
  -moz-border-radius-topleft: 8px;
  -moz-border-radius-topright: 8px;
  -webkit-border-top-left-radius: 8px;
  -webkit-border-top-right-radius: 8px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-left: 2px solid #aaa;
  border-right: 2px solid #aaa;
  border-top: 2px solid #aaa;
}
#main-menu-links a:hover,
#main-menu-links a:focus {
  background: #eaeaea;
}
#main-menu-links a:active {
  background: #FFFFFF;
}
#main-menu-links li a.active {
  background: #FFFFFF;
  border-bottom: none;
}

#main-menu-links li a.active-trail {
  background: #FFFFFF;
  border-bottom: none;
}


.featured #main-menu-links li a:active,
.featured #main-menu-links li a.active {
  background: #f0f0f0;
  background: rgba(240, 240, 240, 1.0);
}

/* ----------------- Regions ----------------- */

.page .region {
 margin: 20px;
}

.rightcol .region {
 margin-top: 40px;
}

.leftcol .region {
 margin-top: 40px;
}

.maincol .region {
 margin-top: 40px;
}


/* ----------------- Headings ----------------- */

h1 {
 margin: 20px;
 font-size: 300%;
 font-weight: normal;
}

h2 {
 font-size: 200%;
 font-weight: normal;
}

h3 {
 font-size: 160%;
 font-weight: normal;
}

h4 {
 font-size: 140%;
 font-weight: normal;
}

h5 {
 font-size: 120%;
 font-weight: normal;
}

h6 {
 font-size: 80%;
 font-weight: normal;
}

.rightcol h2 {
 margin-top: 0px;
}

.leftcol h2 {
 margin-top: 0px;
}

.maincol h2 {
 margin-top: 0px;
}

/* ----------------- Nodes ----------------- */

.node {
 margin-bottom: 20px;
}


/* ----------------- Tabs ----------------- */

.tabs {
 margin: 20px;
}

.tabs ul.primary {
 margin: 0;
 padding: 0;
 border: 0;
 padding-top: 20px;
 padding-bottom: 20px;
}

.tabs ul.primary li a {
 -moz-border-radius: 7px 7px 7px 7px;
 -webkit-border-radius: 7px 7px 7px 7px;
 border-radius: 7px 7px 7px 7px;
 border: 1px solid #ccc;
 background: #EEEEEE;
 padding: 8px;
 text-decoration: none;
}

.tabs ul.primary li a:hover {
 background: #fcfcfc;
}

.tabs ul.primary li.active a {
 background: #fff;
 color: #000;
}

.tabs ul.secondary {
 margin:0;
 padding:0;
 padding-bottom: 20px;
 border: 0;
}

.tabs ul.secondary li {
 padding: 0;
 padding-left: 5px;
 padding-right: 5px;
}

.tabs ul.secondary a.active {
 border: none;
}

/* ----------------- Blocks ----------------- */

.rightcol .block {
 -moz-border-radius: 12px;
 -webkit-border-radius: 12px;
 border-radius: 12px;
 border: 2px solid #AAAAAA;
 padding: 20px;
}

.leftcol .block {
 -moz-border-radius: 12px;
 -webkit-border-radius: 12px;
 border-radius: 12px;
 border: 2px solid #AAAAAA;
 padding: 20px;
}

.block {
 margin-bottom: 20px;
 margin-top: 20px;
}

.header .block {
 float: right;
 margin-left: 20px;
}

.header h2 {
 display: none;
}

/* ----------------- Secondary links ----------------- */

.header .secondary {
 margin-left: 20px;
 margin-right: 20px;
}

/* ----------------- Search form ----------------- */

.header #search-block-form {
 background: #FFFFFF;
 border: 2px solid #AAAAAA;
 -moz-border-radius: 8px;
 -webkit-border-radius: 8px;
 border-radius: 8px;
}

.header .form-text {
 border: 0 none;
 background: 0 none;
 padding: 6px;
}

.header .form-submit {
 width: 29px;
 height: 28px;
 padding: 0;
 margin: 0;
 margin-right: 4px;
 background: url(../images/search_button.png) no-repeat center right;
 text-indent: -9999px;
 border: 0 none;
}

/* ----------------- Tables ----------------- */

table {
 width: 100%;
}

table td {
 padding: 6px;
}

/* ----------------- List styles ----------------- */

ul {
 list-style-type: square;
 list-style-image: none;
}

ul.inline li {
    display: inline;
    list-style-type: none;
    padding: 0;
    padding-right: 0.50em;
}

/* ----------------- User profile ----------------- */

.profile .user-picture {
 margin-top: 60px;
}

.submitted .user-picture img {
  float: left; /* LTR */
  height: 20px;
  margin: 1px 5px 0 0; /* LTR */
}

.submitted .user-picture span {
 float: left;
}

/* ----------------- Content ----------------- */

.node .content {
 margin-top: 20px;
 margin-bottom: 20px;
}

/* ----------------- Forms ----------------- */

.form-text {
 border: 1px solid #AAAAAA;
 -moz-border-radius: 4px;
 -webkit-border-radius: 4px;
 border-radius: 4px;
 padding: 4px;
 font-size: 1.2em;
}

.form-textarea {
 border: 1px solid #AAAAAA;
 -moz-border-radius: 4px 4px 0px 0px;
 -webkit-border-radius: 4px 4px 0px 0px;
 border-radius: 4px 4px 0px 0px;
 padding: 4px;
 font-size: 1.2em;
}


.form-select {
 border: 1px solid #AAAAAA;
 -moz-border-radius: 4px;
 -webkit-border-radius: 4px;
 border-radius: 4px;
 padding: 4px;
 font-size: 1.2em;
}

.filter-wrapper {
 border: 1px solid #AAAAAA;
 -moz-border-radius: 0px 0px 4px 4px;
 -webkit-border-radius: 0px 0px 4px 4px;
 border-radius: 0px 0px 4px 4px;
}

.form-submit {
 background: #1b98f8;
 border: 1px solid #AAAAAA;
 -moz-border-radius: 4px;
 -webkit-border-radius: 4px;
 border-radius: 4px;
 margin-right: 10px;
 padding: 10px;
 cursor: pointer;
 color: #FFFFFF;
 font-weight: bold;
}

.form-submit:hover {
 background: #000000;
}

/* ----------------- Forms one-sidebar ----------------- */

.one-sidebar .form-text {
 max-width: 607px;
}

.one-sidebar  .form-textarea {
 max-width: 617px;
}

.one-sidebar .form-select {
 max-width: 607px;
}

/* ----------------- Forms two-sidebars ----------------- */

.two-sidebars .form-text {
 max-width: 240px;
}

.two-sidebars .form-textarea {
 max-width: 240px;
}

.two-sidebars .form-select {
 max-width: 240px;
}



/* ----------------- Book ----------------- */

.book-navigation .menu {
    border-top: 1px solid #AAAAAA;
    padding: 1em 0 0 3em;
}

.book-navigation .menu li {
  list-style-image: none;
}

.book-navigation .page-links {
    border-bottom: 1px solid #AAAAAA;
    border-top: 1px solid #AAAAAA;
    padding: 0.5em;
    text-align: center;
}

/* ----------------- Poll ----------------- */

.poll .vote-form {
 border: 1px solid #AAAAAA;
 -moz-border-radius: 4px;
 -webkit-border-radius: 4px;
 border-radius: 4px;
 padding: 20px;
}

/* ----------------- Comments ----------------- */

.comment h2.title {
  margin-bottom: 1em;
}
.comment div.user-picture img {
  margin-left: 0; /* LTR */
}
.comment {
  margin-bottom: 20px;
  display: table;
  vertical-align: top;
}
.comment .attribution {
  display: table-cell;
  padding: 0 30px 0 0; /* LTR */
  vertical-align: top;
  overflow: hidden;
}
.comment .attribution img {
  margin: 0;
  border: 2px solid #AAAAAA;
}
.comment .attribution .username {
  white-space: nowrap;
}
.comment .submitted p {
  margin: 4px 0;
  font-size: 1.071em;
  line-height: 1.2;
}
.comment .submitted .comment-time {
  font-size: 0.786em;
  color: #68696b;
}
.comment .submitted .comment-permalink {
  font-size: 0.786em;
  text-transform: lowercase;
}
.comment .content {
  font-size: 0.929em;
  line-height: 1.6;
}
.comment .comment-arrow {
  background: url(../images/comment-arrow.gif) no-repeat 0 center transparent; /* LTR */
  border-left: 1px solid #FFFFFF;
  border-right: 1px solid #FFFFFF;
  height: 40px;
  margin-left: -47px; /* LTR */
  margin-top: 10px;
  position: absolute;
  width: 20px;
}
.comment .comment-text {
  padding: 10px 25px;
  border: 1px solid #AAAAAA;
  display: table-cell;
  vertical-align: top;
  position: relative;
  width: 100%;
}
.comment .indented {
  margin-left: 40px; /* LTR */
}
.comment ul.links {
  padding: 0 0 0.25em 0;
}
.comment ul.links li {
  padding: 0 0.5em 0 0; /* LTR */
}
.comment-unpublished {
  margin-right: 5px; /* LTR */
  padding: 5px 2px 5px 5px; /* LTR */
}
.comment-unpublished .comment-text .comment-arrow {
  border-left: 1px solid #fff4f4;
  border-right: 1px solid #fff4f4;
}

/* ----------------- Paragraph styles ----------------- */

code {
background:none repeat scroll 0 0 #F0F0F0;
border:2px solid #B6B6B6;
display:block;
padding:10px;
}

pre {
background:none repeat scroll 0 0 #E5E5E5;
border-left:12px solid #A0A0A0;
font-size:0.92em;
margin:20px 0;
padding:10px;
}

blockquote {
 margin:0;
 padding:0;
 padding-left: 30px;
 margin-top: 20px;
 margin-bottom: 20px;
 font-style: oblique;
 font-size: 18px;
 font-weight: bold;
 background: url(../images/blockquote-left.png) no-repeat left top;
}

blockquote p {
 background: url(../images/blockquote-right.png) no-repeat right bottom;
 padding-right: 30px;
 color:  #3d3d3d;
 margin-top: 20px;
 margin-bottom: 20px;
}

/* Small Icons */

p.download {
 background: url(../images/paragraph-icons/download.png) no-repeat left center;
 padding-left: 22px;
}

p.basket {
 background: url(../images/paragraph-icons/basket.png) no-repeat left center;
 padding-left: 22px;
}

p.help {
 background: url(../images/paragraph-icons/help-2.png) no-repeat left center;
 padding-left: 22px;
}

p.computer {
 background: url(../images/paragraph-icons/computer-2.png) no-repeat left center;
 padding-left: 22px;
}

p.pdf {
 background: url(../images/paragraph-icons/acrobat.png) no-repeat left center;
 padding-left: 22px;
}

p.configure {
 background: url(../images/paragraph-icons/configure.png) no-repeat left center;
 padding-left: 22px;
}

p.statistics {
 background: url(../images/paragraph-icons/view-statistics.png) no-repeat left center;
 padding-left: 22px;
}

p.faq {
 background: url(../images/paragraph-icons/help-faq.png) no-repeat left center;
 padding-left: 22px;
}

p.help-hint {
 background: url(../images/paragraph-icons/help-hint.png) no-repeat left center;
 padding-left: 22px;
}

p.note {
 background: url(../images/paragraph-icons/edit.png) no-repeat left center;
 padding-left: 22px;
}

p.calendar {
 background: url(../images/paragraph-icons/date.png) no-repeat left center;
 padding-left: 22px;
}

/* Medium Icons */

p.help-medium {
 background: url(../images/paragraph-icons/medium/help-2.png) no-repeat left center;
 padding-left: 34px;
 min-height: 24px;
}

p.support-medium {
 background: url(../images/paragraph-icons/medium/configure.png) no-repeat left center;
 padding-left: 34px;
 min-height: 24px;
}

p.computer-medium {
 background: url(../images/paragraph-icons/medium/computer-2.png) no-repeat left center;
 padding-left: 34px;
 min-height: 24px;
}

p.clock-medium {
 background: url(../images/paragraph-icons/medium/accessories-clock.png) no-repeat left center;
 padding-left: 34px;
 min-height: 24px;
}

p.calendar-medium {
 background: url(../images/paragraph-icons/medium/accessories-date.png) no-repeat left center;
 padding-left: 34px;
 min-height: 24px;
}

p.note-medium {
 background: url(../images/paragraph-icons/medium/accessories-text-editor-5.png) no-repeat left center;
 padding-left: 34px;
 min-height: 24px;
}

p.pdf-medium {
 background: url(../images/paragraph-icons/medium/acroread-2.png) no-repeat left center;
 padding-left: 34px;
 min-height: 24px;
}

p.basket-medium {
 background: url(../images/paragraph-icons/medium/basket.png) no-repeat left center;
 padding-left: 34px;
 min-height: 24px;
}

p.drupal-medium {
 background: url(../images/paragraph-icons/medium/drupal.png) no-repeat left center;
 padding-left: 34px;
 min-height: 24px;
}

p.training-medium {
 background: url(../images/paragraph-icons/medium/education-edutainment-2.png) no-repeat left center;
 padding-left: 34px;
 min-height: 24px;
}

p.phone-medium {
 background: url(../images/paragraph-icons/medium/gnome-ppp.png) no-repeat left center;
 padding-left: 34px;
 min-height: 24px;
}

p.help-hint-medium {
 background: url(../images/paragraph-icons/medium/help-hint.png) no-repeat left center;
 padding-left: 34px;
 min-height: 24px;
}

p.download-medium {
 background: url(../images/paragraph-icons/medium/download.png) no-repeat left center;
 padding-left: 34px;
 min-height: 24px;
}

p.dollar-medium {
 background: url(../images/paragraph-icons/medium/emblem-advertisement-dollar.png) no-repeat left center;
 padding-left: 34px;
 min-height: 24px;
}

p.euro-medium {
 background: url(../images/paragraph-icons/medium/emblem-advertisement-euro.png) no-repeat left center;
 padding-left: 34px;
 min-height: 24px;
}

p.pound-medium {
 background: url(../images/paragraph-icons/medium/emblem-advertisement-pound.png) no-repeat left center;
 padding-left: 34px;
 min-height: 24px;
}

p.bookmark-medium {
 background: url(../images/paragraph-icons/medium/bookmark.png) no-repeat left center;
 padding-left: 34px;
 min-height: 24px;
}

p.statistics-medium {
 background: url(../images/paragraph-icons/medium/view-statistics.png) no-repeat left center;
 padding-left: 34px;
 min-height: 24px;
}

p.faq-medium {
 background: url(../images/paragraph-icons/medium/help-faq.png) no-repeat left center;
 padding-left: 34px;
 min-height: 24px;
}

/* Large Icons */

p.clock-large {
 background: url(../images/paragraph-icons/large/accessories-clock-2.png) no-repeat left center;
 padding-left: 60px;
 min-height: 48px;
}

p.date-large {
 background: url(../images/paragraph-icons/large/accessories-date.png) no-repeat left center;
 padding-left: 60px;
 min-height: 48px;
}

p.note-large {
 background: url(../images/paragraph-icons/large/accessories-text-editor-5.png) no-repeat left center;
 padding-left: 60px;
 min-height: 48px;
}

p.internet-large {
 background: url(../images/paragraph-icons/large/applications-internet-3.png) no-repeat left center;
 padding-left: 60px;
 min-height: 48px;
}

p.color-large {
 background: url(../images/paragraph-icons/large/applications-graphics-2.png) no-repeat left center;
 padding-left: 60px;
 min-height: 48px;
}

p.support-large {
 background: url(../images/paragraph-icons/large/applications-utilities-2.png) no-repeat left center;
 padding-left: 60px;
 min-height: 48px;
}

p.basket-large {
 background: url(../images/paragraph-icons/large/basket.png) no-repeat left center;
 padding-left: 60px;
 min-height: 48px;
}

p.headset-large {
 background: url(../images/paragraph-icons/large/audio-headset.png) no-repeat left center;
 padding-left: 60px;
 min-height: 48px;
}

p.computer-large {
 background: url(../images/paragraph-icons/large/computer-6.png) no-repeat left center;
 padding-left: 60px;
 min-height: 48px;
}

p.help-large {
 background: url(../images/paragraph-icons/large/system-help-2.png) no-repeat left center;
 padding-left: 60px;
 min-height: 48px;
}

p.faq-large {
 background: url(../images/paragraph-icons/large/system-help-3.png) no-repeat left center;
 padding-left: 60px;
 min-height: 48px;
}

p.wireless-large {
 background: url(../images/paragraph-icons/large/network-wireless.png) no-repeat left center;
 padding-left: 60px;
 min-height: 48px;
}

p.pda-large {
 background: url(../images/paragraph-icons/large/pda-4.png) no-repeat left center;
 padding-left: 60px;
 min-height: 48px;
}

p.configure-large {
 background: url(../images/paragraph-icons/large/configure.png) no-repeat left center;
 padding-left: 60px;
 min-height: 48px;
}

p.screencast-large {
 background: url(../images/paragraph-icons/large/video-television-2.png) no-repeat left center;
 padding-left: 60px;
 min-height: 48px;
}

p.magnifier-large {
 background: url(../images/paragraph-icons/large/xmag-3.png) no-repeat left center;
 padding-left: 58px;
 min-height: 48px;
}

p.search-large {
 background: url(../images/paragraph-icons/large/system-search.png) no-repeat left center;
 padding-left: 60px;
 min-height: 48px;
}

p.cog-large {
 background: url(../images/paragraph-icons/large/emblem-system.png) no-repeat left center;
 padding-left: 60px;
 min-height: 48px;
}

p.camera-large {
 background: url(../images/paragraph-icons/large/camera.png) no-repeat left center;
 padding-left: 60px;
 min-height: 48px;
}

p.documents-large {
 background: url(../images/paragraph-icons/large/applications-office-2.png) no-repeat left center;
 padding-left: 60px;
 min-height: 48px;
}

p.online-help {
 background: url(../images/paragraph-icons/large/preferences-system-network-3.png) no-repeat left center;
 padding-left: 60px;
 min-height: 48px;
}

/* ----------------- Paragraph styles ----------------- */

ul.ul-tick {
 list-style-type: none;
 list-style-image: none;
 margin: 0;
 padding: 0;
 padding-bottom: 10px;
 padding-top: 10px;
}

ul.ul-tick li {
 list-style-type: none;
 list-style-image: none;
 background: url(../images/list-style-icons/tick.png) no-repeat left center;
 padding-left: 24px;
 padding-bottom: 2px;
 padding-top: 2px;
}

ul.ul-tick-medium {
 list-style-type: none;
 list-style-image: none;
 margin: 0;
 padding: 0;
 padding-bottom: 10px;
 padding-top: 10px;
}

ul.ul-tick-medium li {
 list-style-type: none;
 list-style-image: none;
 background: url(../images/list-style-icons/medium/emblem-default.png) no-repeat left center;
 padding-left: 32px;
 padding-bottom: 6px;
 padding-top: 6px;
}

ul.ul-arrow-right {
 list-style-type: none;
 list-style-image: none;
 margin: 0;
 padding: 0;
 padding-bottom: 10px;
 padding-top: 10px;
}

ul.ul-arrow-right li {
 list-style-type: none;
 list-style-image: none;
 background: url(../images/list-style-icons/go-next-8.png) no-repeat left center;
 padding-left: 24px;
 padding-bottom: 2px;
 padding-top: 2px;
}

ul.ul-checkbox {
 list-style-type: none;
 list-style-image: none;
 margin: 0;
 padding: 0;
 padding-bottom: 10px;
 padding-top: 10px;
}

ul.ul-checkbox li {
 list-style-type: none;
 list-style-image: none;
 background: url(../images/list-style-icons/checkbox.png) no-repeat left center;
 padding-left: 24px;
 padding-bottom: 2px;
 padding-top: 2px;
}

ul.ul-rating {
 list-style-type: none;
 list-style-image: none;
 margin: 0;
 padding: 0;
 padding-bottom: 10px;
 padding-top: 10px;
}

ul.ul-rating li {
 list-style-type: none;
 list-style-image: none;
 background: url(../images/list-style-icons/rating.png) no-repeat left center;
 padding-left: 24px;
 padding-bottom: 2px;
 padding-top: 2px;
}

ul.ul-plus {
 list-style-type: none;
 list-style-image: none;
 margin: 0;
 padding: 0;
 padding-bottom: 10px;
 padding-top: 10px;
}

ul.ul-plus li {
 list-style-type: none;
 list-style-image: none;
 background: url(../images/list-style-icons/dialog-more.png) no-repeat left center;
 padding-left: 24px;
 padding-bottom: 2px;
 padding-top: 2px;
}

ul.ul-help {
 list-style-type: none;
 list-style-image: none;
 margin: 0;
 padding: 0;
 padding-bottom: 10px;
 padding-top: 10px;
}

ul.ul-help li {
 list-style-type: none;
 list-style-image: none;
 background: url(../images/list-style-icons/help.png) no-repeat left center;
 padding-left: 24px;
 padding-bottom: 2px;
 padding-top: 2px;
}

ul.ul-book {
 list-style-type: none;
 list-style-image: none;
 margin: 0;
 padding: 0;
 padding-bottom: 10px;
 padding-top: 10px;
}

ul.ul-book li {
 list-style-type: none;
 list-style-image: none;
 background: url(../images/list-style-icons/book.png) no-repeat left center;
 padding-left: 24px;
 padding-bottom: 2px;
 padding-top: 2px;
}

ul.ul-cog {
 list-style-type: none;
 list-style-image: none;
 margin: 0;
 padding: 0;
 padding-bottom: 10px;
 padding-top: 10px;
}

ul.ul-cog li {
 list-style-type: none;
 list-style-image: none;
 background: url(../images/list-style-icons/system-settings.png) no-repeat left center;
 padding-left: 24px;
 padding-bottom: 2px;
 padding-top: 2px;
}

ul.ul-sound {
 list-style-type: none;
 list-style-image: none;
 margin: 0;
 padding: 0;
 padding-bottom: 10px;
 padding-top: 10px;
}

ul.ul-sound li {
 list-style-type: none;
 list-style-image: none;
 background: url(../images/list-style-icons/sound.png) no-repeat left center;
 padding-left: 24px;
 padding-bottom: 2px;
 padding-top: 2px;
}

ul.ul-script {
 list-style-type: none;
 list-style-image: none;
 margin: 0;
 padding: 0;
 padding-bottom: 10px;
 padding-top: 10px;
}

ul.ul-script li {
 list-style-type: none;
 list-style-image: none;
 background: url(../images/list-style-icons/script.png) no-repeat left center;
 padding-left: 24px;
 padding-bottom: 2px;
 padding-top: 2px;
}

ul.ul-page {
 list-style-type: none;
 list-style-image: none;
 margin: 0;
 padding: 0;
 padding-bottom: 10px;
 padding-top: 10px;
}

ul.ul-page li {
 list-style-type: none;
 list-style-image: none;
 background: url(../images/list-style-icons/page-simple.png) no-repeat left center;
 padding-left: 24px;
 padding-bottom: 2px;
 padding-top: 2px;
}

ul.menu {
 margin: 0;
 padding: 0;
 margin-left: 10px;
 margin-right: 10px;
 font-size: 1.0em;
}







